.handcrafting {
  padding-top: 148px;
  padding-left: 216px;
}

.handcrafting__title {
  .reset-ma-pa();
  width: 820px;
  margin-bottom: 73px;
  font-family: "Cinzel", "Times", serif;
  font-size: 60px;
  line-height: 72px;
  font-weight: 900;
  text-transform: uppercase;
}

.handcrafting__desc {
  .reset-ma-pa();
  width: 680px;

  &--1 {
    margin-bottom: 48px;
  }

  &--2 {
    margin-bottom: 300px;
  }
}
