.header {
  background-image: url("../img/header-overlay-2op25.png"), url("../img/header-overlay-1op46.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 121px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.header__name {
  .reset-ma-pa();
  font-family: "Cinzel", "Times", serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  color: @white-color;
  padding-left: 913px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 8px;

  &::before {
    position: absolute;
    content: "";
    top: 26px;
    left: 653px;
    width: 242px;
    height: 4px;
    background-color: @text-color;
  }

  &::after {
    position: absolute;
    content: "";
    top: 26px;
    left: 1102px;
    width: 242px;
    height: 4px;
    background-color: @text-color;
  }
}

.header__slogan {
  .reset-ma-pa();
  margin-bottom: 16px;
  margin-left: 649px;
  font-family: "Cinzel", "Times", serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @white-color;
  text-transform: uppercase;
}

.header__text {
  display: block;
  margin-bottom: 318px;
  margin-left: 918px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  font-style: italic;
}

.header__pointer {
  margin-left: 940px;
  margin-bottom: 113px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  font-style: italic;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 33px;
    left: 51px;
    width: 19px;
    height: 10px;
    background-image: url("../img/scroll-pic.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
