.quality {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1728px;
  box-sizing: border-box;
  position: relative;
  padding-left: 211px;
  padding-top: 96px;
  background-image: url("../../img/bg-quality.png");
  background-repeat: no-repeat;
  background-position: 0 -145px;
}

.quality__title {
  .reset-ma-pa();
  margin-bottom: 35px;
  font-family: "Cinzel", "Times", serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
  text-transform: uppercase;
}

.quality__desc {
  .reset-ma-pa();
  width: 900px;
  margin-bottom: 44px;
  margin-left: 4px;
}

.quality__link {
  display: block;
  width: 222px;
  height: 57px;
  .reset-link();
  margin-left: 6px;
  margin-bottom: 93px;
  padding-left: 58px;
  padding-top: 5px;
  background-color: @link-color;
  border: 2px solid @link-border-color;
  font-size: 16px;
  text-transform: uppercase;
  box-sizing: border-box;
}
