body {
  // min-width: 320px;
  margin: 0 auto;
  // font-family: "Oswald", "Arial", sans-serif;
  // font-size: 16px;
  // line-height: 20px;
  // font-weight: 400;
  color: @text-color;
  background-color: @text-color-dark;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}
